
@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmaci칩n de contrase침a olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revise su correo electr칩nico para restablecer su contrase침a.
</p>
