
@page
@model LockoutModel
@{
    ViewData["Title"] = "Usuario Bloqueado SERVIBARRAS";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta en SERVIBARRAS se ha bloqueado. Vuelve a intentarlo más tarde.</p>
</header>
